<section class="padding section-normal">
    <div class="column">
        <h2>
            {{ 'AboutMeTitle' | translate }}
        </h2>
        <p class="info">{{ 'AboutMeIntro' | translate }}</p>
        <div class="space-between fixed-width margin-top">  
            <img src="assets/img/icons/gps-icon.png">
            <span>{{ 'AboutMeLocation' | translate }}</span>
        </div>
        <div class="space-between fixed-width">
            <img src="assets/img/icons/lightbulb.png">
            <span>{{ 'AboutMeMindset' | translate }}</span>
        </div>
        <div class="space-between fixed-width">
            <img src="assets/img/icons/puzzle-icon.png">
            <span>{{ 'AboutMeProgramming' | translate }}</span>
        </div>
    </div>
    <div class="flex">
        <div class="green-circle">
            <img class="picture" src="assets/img/photo/aboutme-photo-min.png" alt="{{ 'AboutMePhotoAlt' | translate }}">
        </div>
        <div class="green-line"></div>
    </div>
    <img class="violet-shadow" src="assets/img/purple-shadow-aboutme.png" alt="">
</section>

<section class="padding-mobile section-mobile">
    <div class="column-mobile">
        <h2>
            {{ 'AboutMeTitle' | translate }}
        </h2>
        <p class="info-mobile">{{ 'AboutMeIntro' | translate }}</p>
        <div class="flex-mobile">  
            <img src="assets/img/icons/gps-icon.png">
            <span>{{ 'AboutMeLocation' | translate }}</span>
        </div>
        <div class="flex-mobile">
            <img src="assets/img/icons/lightbulb.png">
            <span>{{ 'AboutMeMindset' | translate }}</span>
        </div>
        <div class="flex-mobile">
            <img src="assets/img/icons/puzzle-icon.png">
            <span>{{ 'AboutMeProgramming' | translate }}</span>
        </div>
    </div>
    <img class="violet-shadow-mobile" src="assets/img/purple-shadow-aboutme.png" alt="">
</section>
