.section-normal {
  position: relative;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #141d2f;
  @media screen and (min-width: 1920px) {
    margin: 0 auto; /* Zentriere den Hauptcontainer auf dem Bildschirm */
    max-width: 1920px; /* Begrenze die maximale Breite des Hauptcontainers */
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.section-mobile{
    display: none;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  > h2 {
    font-weight: 700;
    font-size: 90px;
    color: white;
    margin-top: 40px;
    white-space: nowrap;
  }
  > p {
    font-weight: 400;
    font-size: 16px;
    color: white;
  }
}

.fixed-width {
  width: 100%;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
  > img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    flex-shrink: 0;
  }
  > span {
    font-weight: 400;
    font-size: 16px;
    color: white;
  }
}

.margin-top {
  margin-top: 24px;
}

.flex {
  display: flex;
  align-items: center;
  width: 50vw;
  position: absolute;
  right: -50px;
  @media (min-width: 1440px){
    width: 45%;
  }
}

.green-circle {
  width: 440px;
  height: 440px;
  border-radius: 100%;
  border: 4px solid #70e61c;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
  > img {
    width: 350px;
    height: 465px;
    object-fit: cover;
    @media (min-height: 1440px){
      width: 80%;
      height: 70%;
    }
    @media (min-width: 1920px){
      height: 100% !important;
    }
  }
}

.green-line {
  height: 4px;
  background-color: #70e61c;
  flex: 1;
  z-index: 2;
  @media (min-width: 1921px){
    display: none;
  }
}

.violet-shadow {
  position: absolute;
  height: 550px;
  right: 0;
  @media (min-width: 1921px){
    display: none;
  }
}

