@media(max-width: 1090px){
    .section-normal{
        display: none;
    }

    .section-mobile{
        display: flex;
        position: relative;
        align-items: center;
        min-height: 75vh;
  max-width: 100vw;
  background-color: #192337;
  @media(max-width: 620px){
    align-items: flex-start;
  }
    }

    .column-mobile{
        display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  @media(max-width: 620px){
    align-items: flex-start;
  }
  > h2 {
    font-weight: 700;
    font-size: 45px;
    color: white;
    white-space: nowrap;
  }
  > p {
    font-weight: 400;
    font-size: 16px;
    color: white;
  }
    }

    .flex-mobile{
        display: flex;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
        > img {
            width: 24px;
            height: 32px;
          }
          > span {
            font-weight: 400;
            font-size: 16px;
            color: white;
          }
    }

    .violet-shadow-mobile{
      position: absolute;
      right: 0;
      width: 140px;
      height: 200px;
    }
}