<section class="padding">
    <div class="column">
        <h2>
            About me
        </h2>
        <p class="info">Hi, I am a German speaking Frontend Developer based near Dortmund.<br>
            Motivated by the limitless opportunities within IT,<br>
            I am excited about crafting visually captivating and<br>
             intuitive websites and applications.</p>
        <div class="space-between fixed-width margin-top">
            <img src="assets/img/icons/gps-icon.png">
            <span>Flexible in terms of working environments, I can work effectively both on-site in Dortmund and remotely.</span>
        </div>
        <div class="space-between fixed-width">
            <img src="assets/img/icons/lightbulb.png">
            <span>I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.</span>
        </div>
        <div class="space-between fixed-width">
            <img src="assets/img/icons/puzzle-icon.png">
            <span>In my profession, programming isn't just about writing code; it's a creative form of problem-solving. 
                I take pride in my ability to distill complex technical challenges into simple, user-friendly solutions.
                This way, I help you achieve your goals and bring your vision to life.</span>
        </div>
    </div>
    <div class="flex">
        <div class="green-circle">
            <img class="picture" src="assets/img/photo/photo.png" alt="">
        </div>
        <div class="green-line"></div>
    </div>
    <img class="violet-shadow" src="assets/img/purple-shadow-aboutme.png" alt="">
</section>
