<div class="left">
    <div class="info">
        <h4>El Pollo Loco</h4>
        <span>JavaScript | HTML | CSS</span>
        <p>A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and bottles to fight against the big chicken.</p>
    </div>
    <div class="buttons">
        <button class="live-test">Live test</button>
        <button class="github">Github</button>
    </div>
</div>
<div class="right">
    <img src="assets/img/projects/PolloLoco.png">
</div>
