.content {
  font-family: "Poppins";
  background-color: #141d2f;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

button{
  margin-top: 150px;
}

.fade-section {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
}

#about-me {
  scroll-margin-top: -100px;
  @media (max-width: 500px){
    scroll-margin: 0;
  }
}

#skills {
  scroll-margin-top: -100px;
  @media (max-width: 500px){
    scroll-margin: 0;
  }
}

#portfolio {
  scroll-margin-top: -100px;
  @media (max-width: 500px){
    scroll-margin: 0;
  }
}

#contact {
  scroll-margin-top: -100px;
  @media (max-width: 500px){
    scroll-margin: 0;
  }
}

.purple-shadow-about-me {
  display: none;
}

.green-shadow-skills {
  display: none;
}

.purple-shadow-portfolio {
  display: none;
}

.purple-shadow-contact {
  display: none;
}

.references{
  display: none;
}

.curve{
  display: none;
}

@media (min-width: 1921px) {
  .purple-shadow-about-me {
    display: flex;
    position: absolute;
    right: 0;
    top: 110vh;
  }

  .green-shadow-skills {
    display: flex;
    position: absolute;
    left: 0;
    top: 150vh;
  }

  .purple-shadow-contact {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .references {
    position: absolute;
    top: 90vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 32px;
    z-index: 30;
    > a {
      font-weight: 400;
      font-size: 24px;
      text-decoration: none;
      color: white;
  }
}
  
  .icons {
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    z-index: 32;
    >img{
      height: 30px;
      width: 30px;
    }
    &:hover {
      transform: scale(1.5);
    }
  }
  
  .vertical-violet-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30%;
    height: 4px;
    background-color: #9747ff;
    @media(min-width: 2000px) and (max-width: 2559px){
      width: 20%;
    }
  }

  .curve {
    display: flex;
    position: absolute;
    top: 40vh;
    height: calc(240px + 50vh);
    left: 0;
    right: 0;
    width: 100%;
    z-index: 20;
  }
}
