<div class="content">
  <app-landing-page id="landing-page" class="fade-section"></app-landing-page>
  <app-about-me id="about-me" class="fade-section"></app-about-me>
  <app-skills id="skills" class="fade-section"></app-skills>
  <app-portfolio id="portfolio" class="fade-section"></app-portfolio>
  <app-contactform id="contact" class="fade-section"></app-contactform>

  <div class="references fade-section">
    <div class="vertical-violet-line"></div>
    <a class="icons" href="https://github.com/AhmetYapicilar/" target="_blank">
      <img src="assets/img/icons/github-icon.svg" alt="Github" />
    </a>
    <a class="icons" href="mailto:contact@ahmet-yapicilar.com">
      <img src="assets/img/icons/email-icon.svg" alt="Email" />
    </a>
    <a
      class="icons"
      href="https://www.linkedin.com/in/ahmet-yapicilar-3907b0233/"
      target="_blank">
      <img src="assets/img/icons/linkedin-icon.svg" alt="LinkedIn" />
    </a>
    <a href="#">ahmetselimyapicilar&#64;gmail.com</a>
  </div>
</div>
<img class="curve fade-section" src="assets/img/curve-landingpage.png" />
<img
  class="purple-shadow-about-me fade-section"
  src="assets/img/purple-shadow-aboutme.png"
/>
<img class="green-shadow-skills fade-section" src="assets/img/myskills-green-shadow.png" />
<img
  class="purple-shadow-portfolio fade-section"
  src="assets/img/purple-shadow-portfolio.png"
  alt=""
/>
<img class="purple-shadow-contact fade-section" src="assets/img/purple-shadow-contact.png" />
