@media(max-width: 720px){
    .section-normal{
        display: none;
    }

    .section-mobile{
        background-color: #141D2F;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
        position: relative;
        overflow-x: hidden;
    }    

    .headline-mobile{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        >h2{
            font-weight: 700;
            color: white;
            font-size: 45px;
            text-align: center;
        }
    }

    .vertical-violet-line-mobile{
        width: 150%;
        height: 4px;
        background-color: #9747FF;
        position: absolute;
        top: 50%;
        left: -100vw;
    }

    .text-mobile{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        >h4{
            font-weight: 700;
            font-size: 24px;
            color: white;
        }
    }

    .paragraph-mobile{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 16px;
        >p{
            font-weight: 400;
            font-size: 16px;
            color: white;
        }
    }

    .form-container-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        >input{
            border: 2px solid #9747FF;
            border-radius: 10px;
            gap: 10px;
            padding: 15px 25px 15px 25px;
            width: 100%;
            background-color: #141D2F;
            color: white;
            &::placeholder{
                font-weight: 400;
                font-size: 16px;
                color: white;
            }
            &:hover, :active{
                border-color: #59B421;
            }
        }
        >textarea{
            border: 2px solid #9747FF;
            border-radius: 10px;
            gap: 10px;
            padding: 15px 25px 15px 25px;
            width: 100%;
            background-color: #141D2F;
            height: 120px;
            overflow-y: auto;
            resize: none;
            color: white;
            &::placeholder{
                font-weight: 400;
                font-size: 16px;
                color: white;
            }
            &:hover, :active{
                border-color: #59B421;
            }
        }
        > input.ng-invalid.ng-touched,
        > textarea.ng-invalid.ng-touched {
            border-color: #7D1C37;
        }
        > input.ng-valid.ng-touched,
        > textarea.ng-valid.ng-touched {
            border-color: #70E61C;
        }
    }

    .error-message-mobile{
        color: #7D1C37;
        font-size: 12px;
    }
    
    .column{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .flex{
        display: flex;
        align-items: center;
        gap: 8px;
        width: 120%;
        >p{
            font-weight: 400;
            font-size: 16px;
            color: white;
            >a{
                color: #9747FF;
                font-weight: 400;
                font-size: 16px;
                text-decoration: none;
            }
        }
    }
    
    input[type="checkbox"] {
        position: relative;
        min-height: 18px;
        min-width: 18px;
        background-color: #141D2F;
        border: 2px solid #70E61C;
        border-radius: 5px;
        appearance: none;
        cursor: pointer;
    }
    
    input[type="checkbox"]::before {
        content: '';
        position: absolute;
        top: -2px;
        left: 3px;
        height: 13px;
        width: 5px;
        border: 4px solid transparent;
        border-left: none;
        border-top: none;
        transform: rotate(45deg) scale(0.6);
    }
    
    input[type="checkbox"]:checked:before {
        border-color: #70E61C;
        animation: checkAnimation .2s ease;
    }

    .center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    button{
        padding: 5px 16px 5px 16px;
        border-radius: 10px;
        gap: 10px;
        background-color: #B6B6B6;
        box-shadow: 4px 4px 4px 0 rgba($color: #000000, $alpha: 0.25);
        color: white;
        font-weight: 400;
        font-size: 24px;
        margin-top: 32px;
    }
    
    .green-button{
        padding: 10px 20px 10px 20px;
        background-color: #70e61c;
        cursor: pointer;
        &:hover{
            background-color: #9747ff;
            transform: scale(1.2);
        }
    }

    .flex-end-mobile{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-top: 16px;
    }

    .arrow-up-mobile{
        width: 40px;
        height: 40px;
        &:hover{
            transform: scale(1.5);
        }
    }

    .shadow-mobile{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100px;
        height: 160px;
    }
}

@media (max-width: 560px) and (orientation: landscape) {
    .section-mobile {
      min-height: 150vh; /* Set height to 150vh for landscape mode */
    }
  }