<section class="padding section-normal">
  <div class="headline">
    <div class="vertical-violet-line"></div>
    <h2>{{ 'ContactHeader' | translate }}</h2>
  </div>
  <div class="space-between">
    <div class="text">
      <h4>{{ 'ContactProblemHeader' | translate }}</h4>
      <div class="paragraph">
        <p>{{ 'ContactDescription1' | translate }}</p>
        <p>{{ 'ContactDescription2' | translate }}</p>
      </div>
    </div>
    <div class="form-container">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <input
          required
          type="text"
          [(ngModel)]="contactData.name"
          name="name"
          placeholder="{{ 'ContactNamePlaceholder' | translate }}"
        />
        <div *ngIf="contactForm.controls['name']?.invalid && contactForm.controls['name'].touched" class="error-message">
          {{ 'ContactNameError' | translate }}</div>
          <br />
        <input
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          type="email"
          [(ngModel)]="contactData.email"
          name="email"
          placeholder="{{ 'ContactEmailPlaceholder' | translate }}"
        />
        <div *ngIf="contactForm.controls['email']?.invalid && contactForm.controls['email'].touched" class="error-message">
          {{ 'ContactEmailError' | translate }}</div><br />
        <textarea
          required
          type="text"
          [(ngModel)]="contactData.message"
          name="message"
          placeholder="{{ 'ContactMessagePlaceholder' | translate }}"
        ></textarea>
        <div *ngIf="contactForm.controls['message']?.invalid && contactForm.controls['message'].touched" class="error-message">
          {{ 'ContactMessageError' | translate }}</div>
          <br /><br />
        <div class="column">
          <div class="flex">
            <label class="checkbox">
              <input
                required
                [(ngModel)]="isChecked"
                name="checkbox"
                type="checkbox"
                (change)="validateCheckbox()"
              />
            </label>
            <p>
              {{ 'ContactPrivacyText1' | translate }} <a (click)="openPrivacyPolicy($event)" href="#">{{ 'ContactPrivacyLink' | translate }}</a> {{ 'ContactPrivacyText2' | translate }}
            </p>
          </div>
          <div *ngIf="!isChecked && checkboxTouched" class="error-message">
            {{ 'ContactCheckboxError' | translate }}
          </div>
          <div class="center">
            <button
              type="submit"
              [disabled]="!contactForm.form.valid || !isChecked"
              [ngClass]="{ 'green-button': contactForm.form.valid && isChecked }"
              name="button"
            >
              {{ 'ContactSubmitButton' | translate }}
            </button>
          </div>
        </div>
        <div class="overlay" *ngIf="messageSent">
          <div class="message-sent">
            Your message has been sent successfully.
          </div>
        </div>
      </form>
      <div class="flex-end">
        <a href="#landing-page">
          <img class="arrow" src="assets/img/icons/arrow-up.png" alt="{{ 'ArrowUpAlt' | translate }}" />
        </a>
      </div>
    </div>
  </div>
  <img
    class="shadow"
    src="assets/img/purple-shadow-contact.png"
    alt="{{ 'ContactShadowAlt' | translate }}"
  />
</section>

<section class="padding-mobile section-mobile">
  <div class="headline-mobile">
    <div class="vertical-violet-line-mobile"></div>
    <h2>{{ 'ContactHeader' | translate }}</h2>
  </div>
  <div class="text-mobile">
    <h4>{{ 'ContactProblemHeader' | translate }}</h4>
    <div class="paragraph-mobile">
      <p>{{ 'ContactDescription1' | translate }}</p>
      <p><b>{{ 'ContactDescription2Bold' | translate }}</b></p>
    </div>
  </div>
  <div class="form-container-mobile">
    <form (ngSubmit)="onSubmit(contactFormMobile)" #contactFormMobile="ngForm">
      <input
        required
        type="text"
        [(ngModel)]="contactData.name"
        name="name"
        placeholder="{{ 'ContactNamePlaceholder' | translate }}"
      />
      <div *ngIf="contactFormMobile.controls['name']?.invalid && contactFormMobile.controls['name'].touched" class="error-message">
        {{ 'ContactNameError' | translate }}</div>
        <br />
      <input
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        type="email"
        [(ngModel)]="contactData.email"
        name="email"
        placeholder="{{ 'ContactEmailPlaceholder' | translate }}"
      />
      <div *ngIf="contactFormMobile.controls['email']?.invalid && contactFormMobile.controls['email'].touched" class="error-message-mobile">
        {{ 'ContactEmailError' | translate }}</div><br />
      <textarea
        required
        type="text"
        [(ngModel)]="contactData.message"
        name="message"
        placeholder="{{ 'ContactMessagePlaceholder' | translate }}"
      ></textarea>
      <div *ngIf="contactFormMobile.controls['message']?.invalid && contactFormMobile.controls['message'].touched" class="error-message-mobile">
        {{ 'ContactMessageError' | translate }}</div>
        <br /><br />
      <div class="column">
        <div class="flex">
          <label class="checkbox">
            <input
              required
              [(ngModel)]="isChecked"
              name="checkbox"
              type="checkbox"
              (change)="validateCheckbox()"
            />
          </label>
          <p>
            {{ 'ContactPrivacyText1' | translate }} <a (click)="openPrivacyPolicy($event)" href="#">{{ 'ContactPrivacyLink' | translate }}</a> {{ 'ContactPrivacyText2' | translate }}
          </p>
        </div>
        <div *ngIf="!isChecked && checkboxTouched" class="error-message-mobile">
          {{ 'ContactCheckboxError' | translate }}
        </div>
        <div class="center">
          <button
            type="submit"
            [disabled]="!isChecked"
            [ngClass]="{ 'green-button': isChecked }"
            name="button"
          >
            {{ 'ContactSubmitButton' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="flex-end-mobile">
    <a href="#landing-page">
      <img class="arrow-up-mobile" src="assets/img/icons/arrow-up.png" alt="{{ 'ArrowUpAlt' | translate }}" />
    </a>
  </div>
  <img
    class="shadow-mobile"
    src="assets/img/purple-shadow-contact.png"
    alt="{{ 'ContactShadowAlt' | translate }}"
  />
</section>

