.form-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form {
    width: 64%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (min-width: 1900px) {
      width: 75%;
    }
    > input {
      border: 2px solid #9747ff;
      border-radius: 10px;
      gap: 10px;
      padding: 15px 25px 15px 25px;
      width: 100%;
      background-color: #141d2f;
      color: white;
      &::placeholder {
        font-weight: 400;
        font-size: 16px;
        color: white;
      }
      &:hover,
      :active {
        border-color: #59b421;
      }
    }
    > textarea {
      border: 2px solid #9747ff;
      border-radius: 10px;
      gap: 10px;
      padding: 15px 25px 15px 25px;
      width: 100%;
      background-color: #141d2f;
      height: 120px;
      overflow-y: auto;
      resize: none;
      color: white;
      &::placeholder {
        font-weight: 400;
        font-size: 16px;
        color: white;
      }
      &:hover,
      :active {
        border-color: #59b421;
      }
    }
    > input.ng-invalid.ng-touched,
    > textarea.ng-invalid.ng-touched {
      border-color: #7d1c37;
    }
    > input.ng-valid.ng-touched,
    > textarea.ng-valid.ng-touched {
      border-color: #70e61c;
    }
  }
  
  .error-message {
    color: #7d1c37;
    font-size: 12px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .flex {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 150%;
    > p {
      font-weight: 400;
      font-size: 16px;
      color: white;
      > a {
        color: #9747ff;
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
      }
    }
  }
  
  // .checkbox {
  //   display: flex;
  //   width: 13px;
  //   height: 12px;
  //   border: 2px solid #70e61c;
  //   border-radius: 4px;
  //   @media (min-width: 1900px) {
  //     justify-content: center;
  //     align-items: center;
  //     height: 26px;
  //     width: 30px;
  //   }
  //   > input {
  //     width: 100%;
  //     height: 100%;
  //   }
  // }

  input[type="checkbox"] {
    position: relative;
    min-height: 18px;
    min-width: 18px;
    background-color: #141D2F;
    border: 2px solid #70E61C;
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 3px;
    height: 13px;
    width: 5px;
    border: 4px solid transparent;
    border-left: none;
    border-top: none;
    transform: rotate(45deg) scale(0.6);
}

input[type="checkbox"]:checked:before {
    border-color: #70E61C;
    animation: checkAnimation .2s ease;
}