<section>
    <div class="headline">
        <div class="vertical-violet-line"></div>
        <h2>Contact</h2>
    </div>
    <div class="space-between">
        <div class="text"></div>
        <div class="form-container">
            <form>
                <label for="fname">Your name</label><br>
                <input type="text" id="fname" name="name" value="John"><br>
                <label for="fname">Your email</label><br>
                <input type="email" id="fname" name="email" value="John"><br>
                <label for="lname">Your message</label><br>
                <textarea type="text" id="lname" name="message" value="Doe"></textarea><br><br>
                <input type="submit" value="Submit">
              </form> 
              <div class="flex">
                <input type="checkbox">
                <p></p>
              </div>
              <button>Send message:)</button>
              <img class="icon" src="./assets/img/icons/arrow-up.png">
        </div>
    </div>
</section>
