<section>
  <div class="flex">
    <div class="green-box">
      <img src="./assets/img/icons/mark.png" />
      <span
        >Ahmet really kept the team together with his great organization and
        clear communication. We wouldn't have got this far without his
        commitment.</span
      >
      <div class="flex fixed-width-100">
        <div class="vertical-violet-line-author"></div>
        <span>J. Strahlmann - Team Partner</span>
      </div>
    </div>
    <div class="flex fixed-width-40">
      <div class="violet-circle">
        <img src="./assets/img/photo/second-photo.png" alt="" />
      </div>
      <div class="vertical-violet-line"></div>
    </div>
    <img class="shadow" src="./assets/img/green-shadow-comments.png" />
  </div>
  <div class="change-comments">
    <img src="./assets/img/icons/arrow_back.png" />
    <div class="little-green-elipse"></div>
    <div class="little-violet-elipse"></div>
    <div class="little-violet-elipse"></div>
    <img src="./assets/img/icons/arrow_forward.png" alt="" />
  </div>
</section>
