section{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #141D2F;
   //padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 100px;
    position: relative;
}

.left{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 40%;
    height: 400px;
    margin-left: 100px;
    z-index: 2;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 90px;
    width: 90px;
    >img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        transition: all ease-in-out 150ms;
        &:hover{
            animation: updown 1s ease-in-out;
            transform: translateY(0);
        }
    }
    >span{
        color: white;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
    }
}

.purple-span{
    color: #9747FF !important;
    font-weight: 700;
        font-size: 16px;
        text-align: center;
}

@keyframes updown {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(-50px);
    }
  
    100% {
      transform: translateY(0px);
    }
}

.right{
    display: flex;
    flex-direction: column;
   // margin-right: 120px;
   width: 60%;
}

.flex{
    display: flex;
    align-items: center;
    >h2{
        font-weight: 700;
        font-size: 90px;
        color: white;
        margin-right: 16px;
        width: 90%;
        text-align: end;
    }
}

.vertical-violet-line{
    width: 40px;
    height: 4px;
    background-color: #9747FF;
    flex: 1;
}

.skill-info{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 24px;
    margin-right: 56px;
    margin-top: 16px;
    >p{
        color: white;
        font-size: 16px;
        font-weight: 400;
        text-align: right;
    }
    >h4{
        font-weight: 700;
        color: white;
        font-size: 32px;
        text-align: right;
    }
}

.highlight{
    color: #9747FF;
}

button{
    padding: 15px 30px 15px 30px;
    background-color: #70E61C;
    box-shadow: 4px 4px 4px 0 rgba($color: #000000, $alpha: 0.25);
    border-radius: 10px;
    gap: 10px;
    color: white;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
    &:hover {
        background-color: #9747ff;
        padding: 20px 35px 20px 35px;
      }
}

.shadow{
    position: absolute;
    left: 0;
    bottom: -550px;
    width: 500px;
    height: 900px;
}