.section-normal {
  min-height: 100vh;
  max-width: 100%;
  background-color: #141d2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.section-mobile{
  display: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  gap: 16px;
  > h2 {
    font-weight: 700;
    font-size: 90px;
    color: white;
    text-align: center;
    width: 50%;
    @media (min-width: 1900px){
      font-size: 110px;
    }
    @media (min-width: 2500px){
      font-size: 180px;
    }
    @media (min-width: 3000px){
      font-size: 250px;
    }
  }
}

.vertical-short-line {
  width: 15%;
  height: 4px;
  background-color: #9747ff;
  @media (min-width: 2500px){
    height: 8px;
  }
}

.vertical-long-line {
  height: 4px;
  background-color: #9747ff;
  flex: 1;
  @media (min-width: 2500px){
    height: 8px;
  }
}

span {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: white;
  @media(max-width: 1100px){
    padding-right: 100px;
  }
  @media (min-width: 1400px){
    font-size: 24px;
  }
  @media (min-width: 3000px){
      font-size: 60px;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  z-index: 5;
}

img {
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 550px;
}

.margin-top-40 {
  margin-top: 40px;
}
