<section class="padding section-normal">
    <div class="center">
        <div class="vertical-short-line"></div>
        <h2>{{ 'PortfolioTitle' | translate }}</h2>
        <div class="vertical-long-line"></div>
    </div>
    <span>{{ 'PortfolioDescription' | translate }}</span>
    <app-project-join class="flex"></app-project-join>
    <app-project-polloloco class="flex margin-top-40"></app-project-polloloco>
    <img src="assets/img/purple-shadow-portfolio.png" alt="{{ 'PortfolioShadowAlt' | translate }}">
    <!-- <app-comments class="margin-top-40"></app-comments> -->
</section>

<section class="padding padding-mobile section-mobile">
    <div class="center-mobile">
        <div class="vertical-short-line-mobile"></div>
        <h2>{{ 'PortfolioTitle' | translate }}</h2>
        <div class="vertical-long-line-mobile"></div>
    </div>
    <span>{{ 'PortfolioDescription' | translate }}</span>
    <app-project-join class="column-mobile"></app-project-join>
    <app-project-polloloco class="column-mobile"></app-project-polloloco>
    <img src="assets/img/purple-shadow-portfolio.png" alt="{{ 'PortfolioShadowAlt' | translate }}">
</section>
