.section-normal {
  min-height: 100vh;
  max-width: 100%;
  background-color: #141d2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  @media screen and (min-width: 1920px) {
    margin: 0 auto; /* Zentriere den Hauptcontainer auf dem Bildschirm */
    max-width: 1920px; /* Begrenze die maximale Breite des Hauptcontainers */
  }
}

.section-mobile {
  display: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto;
  gap: 16px;
  position: relative;
  > h2 {
    font-weight: 700;
    font-size: 90px;
    color: white;
    text-align: center;
    width: 50%;
    @media (min-width: 1430px){
      width: auto;
    }
    @media (min-width: 1900px) {
      font-size: 110px;
    }
    @media (max-width: 1090px) {
      font-size: 72px;
    }
  }
}

.vertical-short-line {
  width: 15%;
  position: absolute;
  left: 88px;
  background-color: #9747ff;
  height: 4px;
  @media (min-width: 1430px){
    display: none;
  }
}

.vertical-long-line {
  height: 4px;
  background-color: #9747ff;
  position: absolute;
  top: 50%;
  right: 0;
  width: 24%;
  @media (min-width: 1920px){
    position: absolute;
    top: 50%;
    right: 0;
    width: 33%;
  }
}

span {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: white;
  @media (max-width: 1100px) {
    padding-right: 100px;
  }
  @media (min-width: 1400px) {
    font-size: 24px;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  z-index: 5;
  @media screen and (min-width: 1920px) {
    margin: 0 auto; /* Zentriere den Hauptcontainer auf dem Bildschirm */
    max-width: 1920px; /* Begrenze die maximale Breite des Hauptcontainers */
    overflow-x: hidden;
  }
}

img {
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 550px;
  @media (min-width: 1921px){
    display: none;
  }
}

.margin-top-40 {
  margin-top: 40px;
}
