body{
    overflow: hidden;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: 66vh;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: white;
}

p{
    text-align: center;
    color: white;
}