<div class="content padding padding-inline">
  <div class="info">
    <h1>{{ 'Imprint1' | translate }}</h1>
    <p>
      Ahmet Selim Yapicilar<br />
      Stembergstra&szlig;e 9<br />
      59755 Arnsberg
    </p>
  </div>

  <div class="contact">
    <h2>{{ 'Contact' | translate }}</h2>
    <p>
      Mobile: +49 15752371306<br />
      E-Mail: ahmetselimyapicilar&#64;gmail.com
    </p>
  </div>

  <p>{{ 'Source' | translate }}: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
  <!-- <app-footer></app-footer> -->
</div>

