<app-navbar></app-navbar>
<section>
  <div class="picture">
    <div class="flex">
      <img src="./assets/img/purple-shadow.png" />
      <img src="./assets/img/green-shadow.png" />
    </div>
    <div class="profile-photo">
      <img src="./assets/img/photo/self-photo.png" />
    </div>
  </div>
  <div class="right-section">
    <div class="text">
      <span> I am </span>
      <div class="column">
        <span class="name"> Ahmet Yapicilar </span>
        <span class="profession"> FRONTEND DEVELOPER </span>
      </div>
    </div>
    <button class="talk-button">Let's Talk</button>
  </div>
  <div class="references">
    <div class="vertical-violet-line"></div>
    <img src="./assets/img/icons/github-icon.png" alt="Github" />
    <img src="./assets/img/icons/email-icon.png" alt="Email" />
    <img src="./assets/img/icons/linkedin-icon.png" alt="LinkedIn" />
    <a href="#">ahmetselimyapicilar&#64;gmail.com</a>
  </div>
  <div class="column-scroll">
    <span class="scroll-down"> Scroll </span>
    <span class="scroll-down"> down </span>
    <img class="arrow-icon" src="./assets/img/icons/arrow-down-line.png" />
  </div>
</section>
