.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    z-index: 30;
    width: 50vw;
  }
  
  .iam {
    transform: rotate(-90deg);
    > span {
      font-size: 64px;
      color: white;
      font-weight: 400;
      white-space: nowrap;
      @media (max-width: 990px) {
        font-size: 48px;
      }
      @media (max-width: 840px) {
        font-size: 40px;
      }
      @media (max-width: 765px) {
        font-size: 32px;
      }
      @media (max-width: 630px) {
        font-size: 24px;
      }
    }
  }
  
  .text {
    display: flex;
    align-items: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
  }
  
  .name {
    font-size: 56px;
    font-weight: 700;
    color: white;
    white-space: nowrap;
    @media (max-width: 990px) {
      font-size: 48px;
    }
    @media (max-width: 840px) {
      font-size: 40px;
    }
    @media (max-width: 765px) {
      font-size: 32px;
    }
    @media (max-width: 630px) {
      font-size: 24px;
    }
  }
  
  .profession {
    font-size: 48px;
    font-weight: 400;
    color: #9747ff;
    white-space: nowrap;
    @media (max-width: 990px) {
      font-size: 40px;
    }
    @media (max-width: 840px) {
      font-size: 32px;
    }
    @media (max-width: 765px) {
      font-size: 24px;
    }
    @media (max-width: 630px) {
      font-size: 16px;
    }
  }
  
  .talk-button {
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    background-color: #70e61c;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-width: 0;
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin-top: 24px;
    cursor: pointer;
    &:hover {
      background-color: #9747ff;
      transform: scale(1.2);
    }
    @media (max-width: 765px) {
      padding: 10px 25px 10px 25px;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  // #contact {
  //   scroll-margin-top: 90px;
  // }
  
  .references {
    position: absolute;
    bottom: 100px;
    left: 0;
    display: flex;
    align-items: center;
    gap: 32px;
    z-index: 30;
    @media (min-width: 1921px){
      display: none;
    }
    @media(min-width: 561px) and (max-width: 660px) {
      gap: 16px;
    }
    > a {
      font-weight: 400;
      font-size: 24px;
      text-decoration: none;
      color: white;
  }

  .mailaddress{
    @media(max-width: 800px){
      display: none !important;
    }
  }
  
  .icons {
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    &:hover {
      transform: scale(1.5);
    }
  }
  
  .vertical-violet-line {
    width: 100px;
    height: 4px;
    background-color: #9747ff;
    @media(min-width: 561px) and (max-width: 650px) {
      width: 50px;
    }
  }
}

.column-scroll {
  position: absolute;
  right: 10px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  z-index: 21;
  @media screen and (min-width: 1921px) {
    left: 1870px;
  }
  > img {
    width: 24px;
    height: 24px;
  }
  > span {
    font-weight: 400;
    font-size: 16px;
    color: white;
    rotate: (90deg);
  }
}