<app-navbar></app-navbar>
<section class="padding section-normal">
  <img class="curve" src="assets/img/curve-landingpage.png" />
  <div class="flex">
    <!-- <img class="littleshadow" src="assets/img/purple-shadow.png" />
    <img class="littleshadow" src="assets/img/green-shadow.png" /> -->
    <img class="littleshadow" src="assets/img/heroshadows.png">
    <img class="self-photo" src="assets/img/photo/landingpage-photo-min.png" />
  </div>
  <div class="right-section">
    <div class="text">
      <div class="iam">
        <span>I am</span>
      </div>
      <div class="column">
        <span class="name"> Ahmet Yapicilar </span>
        <span class="profession"> FRONTEND DEVELOPER </span>
      </div>
    </div>
    <a href="#contact"><button class="talk-button">Let's Talk</button></a>
  </div>
  <div class="references">
    <div class="vertical-violet-line"></div>
    <a class="icons" href="https://github.com/AhmetYapicilar/" target="_blank"
      ><img src="assets/img/icons/github-icon.png" alt="Github"
    /></a>
    <a class="icons" href="mailto:ahmetselimyapicilar@gmail.com"
      ><img src="assets/img/icons/email-icon.png" alt="Email"
    /></a>
    <a
      class="icons"
      href="https://www.linkedin.com/in/ahmet-yapicilar-3907b0233/"
      target="_blank"
      ><img src="assets/img/icons/linkedin-icon.png" alt="LinkedIn"
    /></a>
    <a href="#">ahmetselimyapicilar&#64;gmail.com</a>
  </div>
  <div class="column-scroll">
    <span class="scroll-down"> Scroll </span>
    <span class="scroll-down"> down </span>
    <img class="arrow-icon" src="assets/img/icons/arrow-down-line.png" />
  </div>
</section>

<section class="section-mobile">
  <img class="curve-mobile" src="assets/img/curve-landingpage.png" />
  <div class="flex-mobile">
    <img src="assets/img/heroshadows.png">
    <!-- <img src="assets/img/purple-shadow.png" />
    <img src="assets/img/green-shadow.png" /> -->
  </div>
  <img class="photo-mobile" src="assets/img/photo/landingpage-photo-min.png" />
  <div class="bottom-section">
    <div class="text-mobile">
      <div class="iam-mobile">
        <span>I am</span>
      </div>
      <div class="column-mobile">
        <span class="name-mobile"> Ahmet Yapicilar </span>
        <span class="profession-mobile"> FRONTEND DEVELOPER </span>
      </div>
    </div>
    <a href="#contact"
      ><button class="talk-button-mobile">Let's Talk</button></a
    >
    <div class="references-mobile">
      <div class="vertical-violet-line-mobile"></div>
      <a
        class="icons-mobile"
        href="https://github.com/AhmetYapicilar/"
        target="_blank"
        ><img src="assets/img/icons/github-icon.png" alt="Github"
      /></a>
      <a class="icons-mobile" href="mailto:ahmetselimyapicilar@gmail.com"
        ><img src="assets/img/icons/email-icon.png" alt="Email"
      /></a>
      <a
        class="icons-mobile"
        href="https://www.linkedin.com/in/ahmet-yapicilar-3907b0233/"
        target="_blank"
        ><img src="assets/img/icons/linkedin-icon.png" alt="LinkedIn"
      /></a>
    </div>
  </div>
</section>
