nav {
  padding: 0 100px !important;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #141d2f;
  display: flex;
  align-items: center;
  @media screen and (min-width: 1920px) {
    justify-content: center;
    width: 100vw;
    margin: 0 auto; /* Zentriere den Hauptcontainer auf dem Bildschirm */
    right: 0;
    left: 0;
  }
}

.languages {
  display: flex;
  align-items: center;
  gap: 8px;
  > div {
    color: white;
  }
  > span {
    font-size: 24px;
    color: white;
    cursor: pointer;
    &:hover {
      color: #70e61c;
    }
  }
}

.languages-mobile{
  display: none;
}

.fade-section {
  opacity: 0;
  transition: opacity 2s ease-in;
}

.fade-in {
  opacity: 1;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  @media screen and (min-width: 1920px) {
    width: 1920px;
    max-width: 1920px;
    padding: 37px 100px;
  }
  > a {
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-weight: 400;
  }
}

.underline {
  text-decoration: underline !important;
  text-decoration-color: #9747ff !important;
}

.overlay {
  transition: all 150ms ease-in-out;
  transform: translateX(150vw);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #414856;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  > a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 400;
    &:hover {
      color: #70e61c;
    }
  }
}

.transform {
  transform: translateX(0);
}

.burgermenu {
  transform: translateX(120vw);
  transition: all 150ms ease-in-out;
}

.highlight-purple {
  color: #9747ff;
}

.highlight-green {
  color: #70e61c;
}

.links {
  display: flex;
  align-items: center;
  margin-right: 200px;
  gap: 32px;
  @media screen and (min-width: 1920px) {
    justify-content: flex-end;
  }
  > a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 400;
    &:hover {
      color: #70e61c;
    }
  }
}
