@media screen and (max-device-width: 850px) {
  nav {
    padding: 0 25px !important;
    height: 100px;
    width: 98% !important;
    > a {
      font-size: 24px;
    }
  }
  .links {
    display: none;
  }
  .burgermenu {
    display: flex;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transform: translateX(0);
    transition: all 150ms ease-in-out;
    margin-right: 32px;
  }

  .languages {
    display: none;
  }

  .languages-mobile {
    display: flex;
    align-items: center;
    gap: 8px;
    > div {
      color: white;
    }
    > span {
      font-size: 24px;
      color: white;
      cursor: pointer;
      &:hover {
        color: #70e61c;
      }
    }
  }
}

@media (max-width: 850px) {
  nav {
    padding: 0 25px !important;
    height: 100px;
    width: 98% !important;
    // width: 100vw;
    > a {
      font-size: 24px;
    }
  }
  .links {
    display: none;
  }
  .burgermenu {
    display: flex;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transform: translateX(0);
    transition: all 150ms ease-in-out;
    margin-right: 32px;
  }

  .languages {
    display: none;
  }

  .languages-mobile {
    display: flex;
    align-items: center;
    gap: 8px;
    > div {
      color: white;
    }
    > span {
      font-size: 24px;
      color: white;
      cursor: pointer;
      &:hover {
        color: #70e61c;
      }
    }
  }
}
