<footer>
  <div class="footer-div">
    <div class="column">
      <div class="name">
          <a href="#landing-page"><span class="highlight-purple">A</span>hme<span class="highlight-green"
        >t</span></a>
      </div>  
      <a (click)="openImprint($event)" class="imprint" href="#">{{ "Imprint" | translate }}</a>
    </div>
    <span class="middle">&copy; Ahmet Yapicilar 2024</span>
    <div class="flex">
      <a href="https://github.com/AhmetYapicilar/" target="_blank"><img src="assets/img/icons/github-icon.svg" alt="Github" /></a>
      <a href="mailto:contact@ahmet-yapicilar.com" target="_blank"><img src="assets/img/icons/email-icon.svg" alt="Email" /></a>
      <a href="https://www.linkedin.com/in/ahmet-yapicilar-3907b0233/" target="_blank"><img src="assets/img/icons/linkedin-icon.svg" alt="LinkedIn" /></a>
    </div>
    <a (click)="openImprint($event)" class="imprint-mobile" href="#">{{ "Imprint" | translate }}</a>
  </div>
</footer>
