footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid #70e61c;
  background-color: #141d2f;
  @media (max-width: 850px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  > a {
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-weight: 400;
    @media (min-width: 1920px) {
      font-size: 48px;
    }
    @media (min-width: 1360px) and (max-width: 1919px) {
      font-size: 40px;
    }
    @media (max-width: 850px) {
      font-size: 50px;
    }
  }
}

.imprint {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: white;
  @media (min-width: 1360px){
    font-size: 32px;
  }
  @media (max-width: 850px) {
    display: none;
  }
}

.imprint-mobile {
  display: none;
  @media (max-width: 850px) {
    display: flex;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: white;
  }
}

.highlight-purple {
  color: #9747ff;
}

.highlight-green {
  color: #70e61c; /* Grüne Farbe für die hervorgehobenen Buchstaben */
}

.middle {
  font-weight: 400;
  font-size: 24px;
  color: white;
  @media (min-width: 1360px){
    font-size: 32px;
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 32px;
  > a {
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    > img {
      height: 30px;
      width: 30px;
    }
    &:hover {
      transform: scale(1.5);
    }
    @media (min-width: 1360px) {
      height: 56px;
      width: 56px;
      > img {
        height: 56px;
        width: 56px;
      }
    }
  }
  @media (max-width: 850px) {
    gap: 48px;
  }
}
