<footer class="padding">
  <div class="column">
    <div class="name">
        <a href="#"><span class="highlight-purple">A</span>hme<span class="highlight-green"
      >t</span></a>
    </div>  
    <a class="imprint" href="#">Impressum</a>
  </div>
  <span class="middle">&copy; Ahmet Yapicilar 2024</span>
  <div class="flex">
    <a href="#"><img src="assets/img/icons/github-icon.png" alt="Github" /></a>
    <a href="#"><img src="assets/img/icons/email-icon.png" alt="Email" /></a>
    <a href="#"><img src="assets/img/icons/linkedin-icon.png" alt="LinkedIn" /></a>
  </div>
</footer>
