<div class="left">
  <img src="assets/img/projects/joinLaptop.png" alt="{{ 'JoinImageAlt' | translate }}" />
</div>
<div class="right">
  <div class="info">
    <h4>{{ 'JoinTitle' | translate }}</h4>
    <span>{{ 'JoinTechnologies' | translate }}</span>
    <p>{{ 'JoinDescription' | translate }}</p>
  </div>
  <div class="buttons">
    <a href="./join/Login.html" target="_blank">
      <button class="live-test">{{ 'LiveTestButton' | translate }}</button>
    </a>
    <a href="https://github.com/AhmetYapicilar/JOIN_1" target="_blank">
      <button class="github">{{ 'GithubButton' | translate }}</button>
    </a>
  </div>
</div>

<div class="top-mobile">
  <img src="assets/img/projects/joinLaptop.png" alt="{{ 'JoinImageAlt' | translate }}" />
</div>
<div class="bottom-mobile">
  <div class="info-mobile">
    <h4>{{ 'JoinTitle' | translate }}</h4>
    <span>{{ 'JoinTechnologies' | translate }}</span>
    <p>{{ 'JoinDescription' | translate }}</p>
  </div>
  <div class="buttons-mobile">
    <a href="./join/Login.html" target="_blank">
      <button class="live-test-mobile">{{ 'LiveTestButton' | translate }}</button>
    </a>
    <a href="https://github.com/AhmetYapicilar/JOIN_1" target="_blank">
      <button class="github-mobile">{{ 'GithubButton' | translate }}</button>
    </a>
  </div>
</div>

